.mainPage {
  font-size: 16px;
}

.centered {
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  height: 5vh;
  background: #454f8c;
  color: #000;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2000;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  background: #ff9e01;
  color: white;
  border-radius: 8px;
  height: 28px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
  cursor: pointer;
  background: #ffab25;
}

select {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  width: 80vw;
  margin: 0 10vw;
  border-collapse: collapse;
  border: 1px solid #f4f5e7;
  table-layout: fixed;
}
th {
  text-align: start;
  font-size: 16px;
  border: none;
}
tr {
  border: 1px solid #f4f5e7;
}
tr:nth-child(even) {
  background: #f4f5e7;
}
td {
  border-right: 1px solid #f4f5e7;
}
td:last-child {
  border-right: none;
}


.searchrow {
  width: 100%;
  height: 32px;
  margin: 0 auto;
  background: #f4f5e7;
  color: #000;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.searchrow input {
  margin: 0 10px;
  height: 24px;
  border-radius: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.searchrow select {
  margin: 0 10px;
  height: 24px;
  border-radius: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttonarea {
  display: flex;
}
.button {
  width: 15vw;
  height: 5vh;
  color: #fff;
  background: #454f8c;
  font-weight: bold;
  align-self: flex-end;
  font-size: 20px;
  margin: 0 2px;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background: #ff9e01;
}

.logoutarea {
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.container {
  width: 100%;
  top: 10vh;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  height: 95vh;
  overflow: scroll;
}

.box {
  padding: 10px;
  flex-grow: 1;
  height: 100%;
}

.box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box ul li {
  width: 100%;
  height: 50px;
  padding: 15px 10px 20px 10px;
  border: 1px solid #979797;
  color: #02387e;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.box ul li .journalName {
  display: inline-block;
  height: 100%;
  margin: 0;
}

.box ul li .journalDate {
  display: inline-block;
  height: 100%;
  margin: 0;
}

.box ul li:hover {
  cursor: pointer;
  border: 4px solid #0091fe;
  padding: 11px 6px 16px 6px;
}

.box ul li:nth-child(odd) {
  background: #f5f7f6;
}

.hd {
  display: block;
  padding-bottom: 5px;
  display: inline;
  color: #02387e;
}

.left {
  padding-left: 10px;
  align-self: flex-start;
}

.right {
  padding-right: 10px;
  margin-left: auto;
  display: sticky;
  top: 0;
}
.hdrow {
  display: flex;
  flex-direction: row;
}
#popups {
  max-width: 100vw;
  height: 90vh;
  position: absolute;
  top: 10vh;
  z-index: 1000;
  display: none;
}
